/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    color: #4CAF50;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

.header-container {
    max-width: 1200px;
    margin: auto;
}

/* Flexbox for Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

#about, #projects {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 48%; /* Each section takes up 48% of the width */
}

/* About Section */
#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    margin-bottom: 20px;
}

#about ul {
    list-style: none;
}

#about ul li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #4CAF50;
}

/* Projects Section */
#projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project a:hover {
    color: #388E3C;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
